<script>
import LoginComponent from '../components/LoginComponent.vue';
import LogoutComponent from "../components/LogoutComponent.vue";
import ScrapingComponent from '../components/ScrapingComponent.vue';
import AuthenticationService from '@/services/AuthenticationService.js';
import '../assets/style/global-styles.scss'

export default {
	components: {
		LoginComponent,
		LogoutComponent,
		ScrapingComponent,
	},
	data() {
		return {
			isLoggedin: false,
		}
	},
	mounted() {	
		this.onOpenPopup();
        browser.runtime.onMessage.addListener(this.popupListener);
    },
    beforeDestroy() {
        browser.runtime.onMessage.removeListener(this.popupListener)
    },
	methods: {
		async isConnected() {
			this.isLoggedin = await AuthenticationService.refresh();
			browser.runtime.sendMessage({ action: "loggedIn" });
		},
		onOpenPopup() {
			browser.runtime.sendMessage({ action: "openPopup" });
		},
		popupListener(request, send, sendResponse) {
			if (request.action === "login") {
				this.isConnected();
			}
		}
	}
}
</script>

<template>
	<main>
		<header>
			<h1 class="h-4 pos-absolute top-4 left-4 text-bold">BeatCorp</h1>
			<LogoutComponent @connected="isConnected" v-if="isLoggedin" class="pos-absolute top-4 right-2" />
		</header>
		<section class="container">
			<LoginComponent @connected="isConnected" v-if="!isLoggedin" />
			<ScrapingComponent v-if="isLoggedin" />
		</section>
	</main>
</template>
