<script>
import { defineComponent } from 'vue';
import AuthService from '../services/AuthenticationService.js';

export default defineComponent({
    name: "login-component",
    data() {
        return {
            user: {
                email: "",
                password: "",
            },
            error: false,
        };
    },
    methods: {
        login() {
            let data = {
                email: this.user.email,
                password: this.user.password,
            };
            AuthService.login(data)
                .then(() => {
                    this.$emit('connected', true);
                    this.error = false;
                })
                .catch((error) => {
                    this.error = true;
                })
        }
    }
})
</script>

<template>
    <form class="mar-x-auto w-percent-90">
        <fieldset class="control-group mar-b-2">
            <label class="control-legend" for="email">Email</label>
            <input type="email" class="control" id="email" v-model="user.email" name="email" required>
        </fieldset>

        <fieldset class="control-group mar-b-2">
            <label class="control-legend" for="password">Mot de passe</label>
            <input type="password" class="control" id="password" v-model="user.password" name="password" required>
        </fieldset>

        <p v-if="error" class="color-red text-small text-center mar-b-2">Mauvais email ou mot de passe</p>

        <button type="button" class="btn-green" @click="login">Connexion</button>
    </form>

</template>