<script>
import { defineComponent } from "vue";
import AuthService from "../services/AuthenticationService.js";

export default defineComponent({
    name: "logout-component",
    methods: {
        async logout() {
            await browser.runtime.sendMessage({ action: "logout" });
            AuthService.logout()
                .then(() => this.$emit('connected', false))
                .catch(() => this.$emit('connected', false));
        }
    }
})
</script>

<template>
    <a class="custom-button" @click="logout">
        Déconnexion
    </a>
</template>