<script>
import { defineComponent } from "vue";
import browser from "webextension-polyfill";
import DataService from "../services/DataService.js";
/* import '../assets/style/global-styles.scss'; */

export default defineComponent({
    name: "scrap-component",
    data() {
        return {
            result: {
                data: [],
                current: 0,
            },
            state: null,
        }
    },
    mounted() {
        browser.runtime.onMessage.addListener(this.receiveData);
    },
    beforeDestroy() {
        browser.runtime.onMessage.removeListener(this.receiveData)
    },
    methods: {
        dataTreatment(data) {
            const { corpusName, activity, task, date, details, actions, actors } = data

            const existingCorpus = this.result.data.find(elem => elem.corpus === corpusName);

            if (existingCorpus) {
                const existingActivity = existingCorpus.activities.find(elem => elem.activity === activity);

                if (existingActivity) {
                    existingActivity.tasks.push({
                        task: task,
                        date: date,
                        details: details,
                        actions: actions,
                        actors: actors,
                    });
                } else {
                    existingCorpus.activities.push({
                        activity: activity,
                        tasks: [
                            {
                                task: task,
                                date: date,
                                details: details,
                                actions: actions,
                                actors: actors,
                            }
                        ]
                    })
                }
            } else {
                this.result.data.push({
                    corpus: corpusName,
                    activities: [
                        {
                            activity: activity,
                            tasks: [
                                {
                                    task: task,
                                    date: date,
                                    details: details,
                                    actions: actions,
                                    actors: actors,
                                }
                            ]
                        }
                    ]
                })
            }
        },
        async generateJSON() {
            const data = JSON.stringify(this.result.data);
            const blob = new Blob([data], { type: "application/json" });
            const link = document.createElement("a");
            link.href = URL.createObjectURL(blob);
            link.download = "data.json";
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        },
        async sendDataToAPI() {
            const data = JSON.stringify(this.result.data);
            const formData = new FormData();
            formData.append('data', new Blob([data], { type: 'application/json' }))
            await DataService.post(formData);
        },
        async grabHTML() {
            try {
                this.state = "scraping"
                const tabs = await browser.tabs.query({ active: true, currentWindow: true });
                browser.tabs.sendMessage(tabs[0].id, { msg: { action: "scrap" } });
            } catch (error) {
                console.error("Erreur lors de la récupération du HTML :", error);
            }
        },
        async receiveData(request, sender, sendResponse) {
            if (request.action === "data") {
                this.dataTreatment(request.data);
                this.result.current += 1;
            } else if (request.action === "end") {
                this.state = "end";
                await browser.runtime.sendMessage({ action: "download" });
            } else if (request.action === "resume") {
                for (let part of request.result) {
                    this.dataTreatment(part);
                }
                this.state = "end";
                await browser.runtime.sendMessage({ action: "download" });
            }
            else if (request.action === "wrong_page") {
                this.state = "wrong_page";
            }
        }
    },
});
</script>

<template>
    <button v-if="state === null" class="btn-green" type="button" @click="grabHTML()">Lancer la collecte</button>
    <p v-else-if="state === 'scraping'">Activité(s) récoltée(s) : {{ result.current }}</p>
    <section v-else-if="state === 'end'" class="flex-row-c gap-sm">
        <button type="button" class="btn-middle-blue" @click="generateJSON()">Télécharger</button>
        <button type="button" class="btn-green" @click="sendDataToAPI()">Envoyer</button>
        <button type="button" class="btn-yellow" @click="state = null">Retour</button>
    </section>
    <section v-else-if="state === 'wrong_page'" class="flex-col-c gap-sm">
        <p class="text-center text-small">Cette page n'est pas supportée par le plugin.</p>
        <button type="button" class="btn-yellow" @click="state = null">Retour</button>
    </section>
</template>
