@import "../variables.scss";
@import "../mixins.scss";

.grid {
	&-autorow {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
		gap: 10px;
	}
	@for $i from 1 through 12 {
		&-col-#{$i} {
			display: grid;
			grid-template-columns: repeat(#{$i}, 1fr);
		}
		&-rows-#{$i} {
			display: grid;
			grid-template-rows: repeat(#{$i}, 1fr);
		}
		@for $j from 1 through 12 {
			&-#{$i}-#{$j} {
				display: grid;
				grid-template-columns: repeat(#{$i}, 1fr);
				grid-template-rows: repeat(#{$j}, 1fr);
			}
			&-col-#{$i}-#{$j} {
				grid-column: #{$i} / span #{$j};
			}
			&-row-#{$i}-#{$j} {
				grid-row: #{$i} / span #{$j};
			}
		}
	}
}

.justify-self {
	&-end {
		justify-self: end;
	}
	&-center {
		justify-self: center;
	}
}

.justify-content {
	&-center {
		justify-content: center;
	}
}

.align-items {
	&-center {
		align-items: center;
	}
}